<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proafsolutions.cubatrip.android">

    <!-- START Permission Settings -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- END Permission Settings -->
    <application
        android:name="com.proafsolutions.cubatrip.app.main.CubaTripApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- START Activities -->
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.MapActivity" />
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.DetailsActivity" />
        <!-- END Activities -->

        <!-- START Services -->
        <service
            android:name="com.proafsolutions.cubatrip.app.service.UpdateService"
            android:enabled="true"
            android:exported="true" />
        <!-- END Services -->

        <activity android:name="com.proafsolutions.cubatrip.ui.activity.ReviewsActivity"></activity>
    </application>

</manifest>