<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proafsolutions.cubatrip.android">

    <application
        android:name="com.proafsolutions.cubatrip.app.CubaTripApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="cuba_trip.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!--This approach speeds up the startup load-->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.proafsolutions.cubatrip.domain.model.Person,
   		                   com.proafsolutions.cubatrip.domain.model.Address" />

        <activity android:name="com.proafsolutions.cubatrip.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>