<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proafsolutions.cubatrip.android">

    <!-- START Permission Settings -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- END Permission Settings -->
    <application
        android:name="com.proafsolutions.cubatrip.app.CubaTripApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- START Activities -->
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.MainActivity"></activity>
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.CategoriesActivity"></activity>
        <activity android:name="com.proafsolutions.cubatrip.ui.activity.DetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- END Activities -->

        <!-- START Database Settings -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="/mnt/sdcard/Download/cubatrip.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.proafsolutions.cubatrip.domain.model.Product, com.proafsolutions.cubatrip.domain.model.Review, com.proafsolutions.cubatrip.domain.model.Province" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.proafsolutions.cubatrip.domain.serializer.StringListSerializer, com.proafsolutions.cubatrip.domain.serializer.StringMapSerializer, com.proafsolutions.cubatrip.domain.serializer.DateSerializer" />
        <!-- END Database Settings -->


        <!-- START Services -->
        <service
            android:name="com.proafsolutions.cubatrip.app.UpdateService"
            android:enabled="true"
            android:exported="true"></service>
        <!-- END Services -->

    </application>

</manifest>